/node_modules
/vendor
.git
.gitignore
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/.fleet
/.nova
/storage/*.key
/storage/pail
/public/hot
/public/storage
/public/build
tests
.phpunit.cache
README.md
DEPLOYMENT.md

